@font-face
{
    font-family: zk2;
    src: url('https://amelia106.github.io/GuangXiuJiYi/assets/font/zk2.ttf');
    font-weight: normal;  
    font-style: normal;  
}

@font-face
{
    font-family: qksj;
    src: url('https://amelia106.github.io/GuangXiuJiYi/assets/font/qksj.TTF');
    font-weight: normal;  
    font-style: normal; 
}

@font-face
{
    font-family: fzxsbjt;
    src: url('https://amelia106.github.io/GuangXiuJiYi/assets/font/fzxsbjt.ttf');
    font-weight: normal;  
    font-style: normal; 
}
